@import '../../styles/payload.css';
@import '../../styles/animations.css';

.blocks-drawer__default-image {
  & img {
    object-fit: contain;
  }
}

.card {
  min-height: auto;
}

.field-type {
  &.row {
    .row__fields {
      flex-wrap: nowrap;
    }
  }

  &.text {
    input[id^="field-social__networks__"] {
      border-radius: 0 var(--style-radius-s) var(--style-radius-s) 0;
      border-left: none;
      width: 100%;
    }
  }
}

.table-wrap {
  & .table {
    display: block;
  }
}
